<template>
    <header class=" px-5 sm:px-10 md:px-15 lg:px-20" :class="headerClass">
      <nav class="flex justify-between items-center mx-auto py-[15px]  gap-2">
        <div class="flex justify-between">
          
            <img :src="logoSrc" alt="web-logo" >
          
          <h1 class=" whitespace-nowrap px-2">my Dream Place</h1>
        </div>
        <div
          ref="navLinks" 
          class=" md:static md:min-h-fit absolute  min-h-[30vh] left-0 top-[-100%] md:w-auto w-full flex items-center md:px-3 " 
        >
          <ul class="flex md:flex-row flex-col items-center md:gap-[2vw] gap-8 w-full ">
            <li v-for="(link, index) in links" :key="index">
            <a  :href="link.url">{{ link.text }}</a>
          </li>
          </ul>
        </div>
        <div class="flex items-center gap-4">
          <div>
            <button v-if="!userUUID" @click="navigateToLogin" class="bg-[#2F80ED] text-white w-[82px] h-[40px] rounded-md">Login</button>
            <div v-else class="relative flex items-center gap-3 pr-8">
                  <svg :fill="iconColor" width="35" height="35" class="cursor-pointer " viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                      <g id="notification 1">
                      <g id="Group">
                      <path id="Vector" d="M19.3399 14.49L18.3399 12.83C18.1299 12.46 17.9399 11.76 17.9399 11.35V8.81998C17.9387 7.70401 17.6216 6.61119 17.0252 5.66795C16.4288 4.72471 15.5776 3.9696 14.5699 3.48998C14.3128 3.03332 13.9376 2.65412 13.4838 2.39201C13.0299 2.1299 12.514 1.99451 11.9899 1.99998C10.8999 1.99998 9.91994 2.58998 9.39994 3.51998C7.44994 4.48998 6.09994 6.49998 6.09994 8.81998V11.35C6.09994 11.76 5.90994 12.46 5.69994 12.82L4.68994 14.49C4.28994 15.16 4.19994 15.9 4.44994 16.58C4.68994 17.25 5.25994 17.77 5.99994 18.02C7.93994 18.68 9.97994 19 12.0199 19C14.0599 19 16.0999 18.68 18.0399 18.03C18.7399 17.8 19.2799 17.27 19.5399 16.58C19.7999 15.89 19.7299 15.13 19.3399 14.49Z" fill="#828282"/>
                      <path id="Vector_2" d="M14.8299 20.01C14.6196 20.5922 14.2352 21.0954 13.7289 21.4515C13.2226 21.8075 12.6189 21.999 11.9999 22C11.2099 22 10.4299 21.68 9.87993 21.11C9.55993 20.81 9.31993 20.41 9.17993 20C9.30993 20.02 9.43993 20.03 9.57993 20.05C9.80993 20.08 10.0499 20.11 10.2899 20.13C10.8599 20.18 11.4399 20.21 12.0199 20.21C12.5899 20.21 13.1599 20.18 13.7199 20.13C13.9299 20.11 14.1399 20.1 14.3399 20.07L14.8299 20.01Z" fill="#828282"/>
                      </g>
                      <circle id="Ellipse 3" cx="17" cy="6" r="5" fill="#EB5757" stroke="white" stroke-width="2"/>
                      </g>
                  </svg>
                  <svg :text="iconColor" @click="toggleDropdown" width="35" height="35" class="cursor-pointer "  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="user-square 1" clip-path="url(#clip0_2972_84)">
                    <g id="Group">
                    <path id="Vector" d="M15.1166 18.0168C14.3833 18.2335 13.5166 18.3335 12.5 18.3335H7.49997C6.4833 18.3335 5.61663 18.2335 4.8833 18.0168C5.06663 15.8502 7.29163 14.1418 9.99997 14.1418C12.7083 14.1418 14.9333 15.8502 15.1166 18.0168V18.0168Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path id="Vector_2" d="M12.4998 1.66675H7.49984C3.33317 1.66675 1.6665 3.33341 1.6665 7.50008V12.5001C1.6665 15.6501 2.6165 17.3751 4.88317 18.0167C5.0665 15.8501 7.2915 14.1417 9.99984 14.1417C12.7082 14.1417 14.9332 15.8501 15.1165 18.0167C17.3832 17.3751 18.3332 15.6501 18.3332 12.5001V7.50008C18.3332 3.33341 16.6665 1.66675 12.4998 1.66675ZM9.99984 11.8084C8.34984 11.8084 7.0165 10.4667 7.0165 8.81675C7.0165 7.16675 8.34984 5.83341 9.99984 5.83341C11.6498 5.83341 12.9832 7.16675 12.9832 8.81675C12.9832 10.4667 11.6498 11.8084 9.99984 11.8084Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path id="Vector_3" d="M12.9833 8.81683C12.9833 10.4668 11.6499 11.8085 9.99993 11.8085C8.34993 11.8085 7.0166 10.4668 7.0166 8.81683C7.0166 7.16683 8.34993 5.8335 9.99993 5.8335C11.6499 5.8335 12.9833 7.16683 12.9833 8.81683Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_2972_84">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>

                <!-- Dropdown menu -->
                <ul v-if="showDropdown" class="absolute flex flex-col top-10 w-[200px] -right-[40px] bg-white shadow-md rounded-md p-2 z-30">
                  <li class="flex gap-2 cursor-pointer"><img src="../assets/user-square 1.svg" alt="">Manage account</li>
                  <li class="flex gap-2 cursor-pointer"><img src="../assets/bxs-plane-take-off 1.svg" alt="">My trips</li>
                  <li class="flex gap-2 cursor-pointer"><img src="../assets/wallet-3 1.svg" alt="">Reward and wallet</li>
                  <li class="flex gap-2 cursor-pointer"  @click="signOut"><img src="../assets/logout 1.svg" alt="">Sign out</li>
                </ul>
              </div>
            
          </div>
          <img
            class="w-[30px] cursor-pointer md:hidden"
            v-if="showImage1"
            src="../assets/ellipsis-vertical-circle-outline.svg"
            alt="Image 1"
            @click="toggleImage"
          />
          <img
            class="w-[30px] cursor-pointer md:hidden"
            v-else
            src="../assets/close-circle-outline.svg"
            alt="Image 2"
            @click="toggleImage"
          />
        </div>
      </nav>
    </header>
  </template>
  
  <script>
  export default {
    data() {
      return {
        showImage1: true,
        showDropdown: false,
        userUUID: localStorage.getItem('userUUID'),
        
        links: [
        { text: 'Home', url: '#' },
        { text: 'Discover', url: '#' },
        { text: 'Activities', url: '#' },
        { text: 'About', url: '#' },
        { text: 'Contact', url: '#' },
      ],
      };
    },
    methods: {
      toggleImage() {
        this.showImage1 = !this.showImage1
  
        // Get the reference to the nav-links element
        const navLinks = this.$refs.navLinks
  
        // Update the style to show/hide the nav-links element
        navLinks.style.top = this.showImage1 ? "-100%" : "8%"
      },
      navigateToLogin() {
      // Use this.$router.push to navigate to the login page
      this.$router.push('/login');
    },
    toggleDropdown() {
      this.showDropdown = !this.showDropdown
    },
    async signOut() {
      // Remove the UUID from local storage
      localStorage.removeItem('userUUID');

      // Determine the current route
      const currentRoute = this.$route.name;

      // If not on the home page, navigate to it
      if (currentRoute !== 'home') {
        await this.$router.push({ name: 'home' }); // Replace 'home' with your actual home route name
      }

      // Show the login button immediately
      this.userUUID = null;
    },
},
  computed: {
    headerClass() {
      return {
        'bg-white': this.$route.path !== '/search',
        'bg-gradient-to-b from-[#2969BF] to-[#144E9D]': this.$route.path === '/search',
        'h-[10vh]': this.$route.path !== '/search',
        'h-[30vh]': this.$route.path === '/search',
        'text-[#1B1F2D]': this.$route.path !== '/search',
        'text-white': this.$route.path === '/search',
      };
    },
    logoSrc() {
      // Check the route and return the appropriate image source
      if (this.$route.path === '/search') {
        return new URL('../assets/logo2.svg',import.meta.url).href
      } else {
        return new URL('../assets/logo.svg',import.meta.url).href
      }
    },
    iconColor() {
    return this.$route.path === '/search' ? 'white' : '#828282';
  },
  },

};
  </script>